body {
  font-family: Arial, sans-serif;
  max-width: 1400px;
  margin: auto;
}

.command {
  background-color: black;
  color: white;
  padding: 10px;
  margin: 10px;
  font-weight: normal;
  width: 100%;
}

.res-table {
  border-collapse: collapse;
  font-size: 1rem;
  margin: 1rem 0;
}

.res-table th {
  background-color: #c7ecee;
  font-weight: bold;
  padding: 0.5rem;
  text-align: left;
}

.res-table tr {
  height: 1.5rem;
}

.res-table td {
  border: 1px solid #95afc0;
  padding: 0.2rem;
}

.res-table tr:nth-child(even) {
  background-color: #dfe6e9;
}

.res-table tr:hover {
  background-color: #b2bec3;
}

.show-more {
  cursor: pointer;
}

.show-more::after {
  font-size: 1.2rem;
  font-weight: bold;
}

.table-toggle{
  font-size: 0.8rem;
}

.res-table tbody tr td {
  max-height: 2.2em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.res-table tbody tr td:hover {
  max-height: none;
  overflow: visible;
  white-space: normal;
  background-color: #f1f1f1;
  position: relative;
  z-index: 1;
}
