<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="/static/css/styles.css">
  </head>
  <body>
    <h1>Test analysis of the sample file <a href="{{ url_for('static', filename='organizations-10000.csv') }}">"organizations-10000.csv"</a> with Pandas</h1>
    <p>Sample file downloaded <a href="https://github.com/datablist/sample-csv-files">from open source on Github</a> </p>
    <h4 class="command">df = pd.read_csv("organizations-10000.csv")</h4>
    {% if data["sample"] %}
      <h2>1. Sample data</h2>
      <h4 class="command">{{ data["sample"][1]|safe }}</h4>
      {{ data["sample"][0]|safe }}
      <h2>2. Shape</h2>
      <h4 class="command">{{ data["shape"][1]|safe }}</h4>
      <p>Rows: {{ data["shape"][0][0] }}, Columns: {{ data["shape"][0][1] }}</p>
      <h2>3. Columns</h2>
      <h4 class="command"> {{ data["columns"][1]|safe }}</h4>
      {{ data["columns"][0]|safe }}
      <h2>4. Describe</h2>
      <h4 class="command">{{ data["describe"][1]|safe }}</h4>
      {{ data["describe"][0]|safe }}
      <h2>5. NaN count</h2>
      <h4 class="command">{{ data["nan_count"][1]|safe }}</h4>
      {{ data["nan_count"][0]|safe }}
      <h2>6. Empty count</h2>
      <h4 class="command">{{ data["empty_count"][1]|safe }}</h4>
      {{ data["empty_count"][0]|safe }}
      <h2>7. Duplicates count</h2>
      <h4 class="command">{{ data["duplicates_count"][1]|safe }}</h4>
      <p>{{ data["duplicates_count"][0] }}</p>
      <h2>8. Unique countries count</h2>
      <h4 class="command">{{ data["unique_countries"][1]|safe }}</h4>
      {{ data["unique_countries"][0]|safe }}
      <h2>9. Grouped by country and sum of employees</h2>
      <h4 class="command">{{ data["grouped_by_country"][1]|safe }}</h4>
      {{ data["grouped_by_country"][0]|safe }}
    {% endif %}
  </body>
</html>
